{% extends "application.html" %}

{% block title %}
<title>Calculate Approximate Base Length From Electrophoresis Result</title>
{% endblock %}

{% block imports %}
{% endblock %}

{% block body %}
<h1>Calculate Base Length From Electrophoresis Result</h1>
<hr />
<h3>How to use</h3>
<p>
	Input your electrophoresis result. Base length will be calculated if not given, calculated by given base length. You can choose regression method using when calculate base length.<br/>
	Format: [tag]: [transition distance]-[known base length] [transition distance]-[known base length]
</p>
<p>
	Example)
	<blockquote>
	<p>
	ladder: 2.6-10000 2.8-8000 3.1-6000 3.3-5000 3.6-4000 4-3000 4.6-2000 5.1-1500 5.8-1000<br/>
	A: 2.5 5.5 6.4
	</p>
	</blockquote>
</p>
<script src="{{ url_for('static', filename='script/base_len.js') }}"></script>
{% endblock %}
