<!doctype html>
<html>
	<head>
		<title>Toolbox For DNA Analysis</title>
		<script src="{{ url_for('static', filename='d3/d3.js') }}"></script>
	</head>
	<body>
		<div class="col-sm-12">
			<ul>
				<li>
					<a href="/random_base_generator">Random Base Sequence Generator</a>
					<br/>Tool for generate random base sequence.
				</li>
				<li>
					<a href="/CpG_island">CpG Island Detector</a>
					<br/>Tool for find CpG island.
				</li>
				<li>
					<a href="/base_skew">Base Skew Plotter</a>
					<br/>Caculate and plot base skew.
				</li>
				<li>
					<a href="/ori_finder">Origin of Replication Finder</a>
					<br/>Tool for find Ori using GC skew.
				</li>
				<li>
					<a href="/z_curve">Z Curve Plotter</a>
					<br/>Draw Z curve.
				</li>
				<li>
					<a href="/codon_analyzer">Codon Analyzer</a>
					<br/>Tool for codon analyzing. It provides translating codon sequence to amino acid sequence and calculating codon ratios and relative codon usage.
				</li>
				<li>
					<a href="/amino_seq_to_codon">Amino Sequence to Codon Converter</a>
					<br/>Tool for convert amino acid to codon according to Adaption Index and Translation Table</li>
				<li>
					<a href="/base_len">Calculate Base Length From Electrophoresis Result</a>
					<br/>Tool for estimate length of base from electophoresis marker.
				</li>
				<li>
					<a href="/restrict_map">Calculate Restrict Map From Electrophoresis Result</a>
					<br/>Tool for calculate restrict map from electrophoresis result.
				</li>
			</ul>
		</div>
		<hr/>
		<footer class="col-sm-12">
			https://github.com/elwlwlwk/BioCheat<br/>
			holo@wisewolf.org
		</footer>
	</body>
</html>
