<!doctype html>
<html>
	<head>
		<title>Toolbox For DNA Analysis</title>
		<script src="{{ url_for('static', filename='d3/d3.js') }}"></script>
	</head>
	<body>
		<div class="col-sm-12">
			<ul>
				<li><a href="/random_base_generator">Random Base Sequence Generator</a></li>
				<li><a href="/base_len">Calculate Base Length From Electrophoresis Result</a></li>
				<li><a href="/restrict_map">Calculate Restrict Map From Electrophoresis Result</a></li>
			</ul>
		</div>
		<hr/>
		<footer class="col-sm-12">
			https://github.com/elwlwlwk/BioCheat<br/>
			holo@wisewolf.org
		</footer>
	</body>
</html>
